<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Dashboard</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/home.png">
</head>

<body class=" dark-mode  layout-fixed layout-navbar-fixed">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary overflow-auto ">
            <!-- Brand Logo -->
            <a href="#smart" class="brand-link mb-3">
                <img src="../assets/img/smart.png" alt="Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="text-xs  text-uppercase font-semibold">smartcompnay v3.3.1</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar ">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel  mb-3 d-flex">
                    <div class="image">
                        <img src="../assets/img/smart.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Hoshmand Kamal</a>
                        <a class="text-xs">Administer</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" style="cursor: pointer;">

                        <li class="nav-item">
                            <a href="" class="nav-link ">
                                <span class="d-flex ">
                                    <svg style="width: 20px !important" class="mr-2" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                    </svg>
                                    سەرەکی
                                </span>
                            </a>
                        </li>


                        <li class="nav-item ">
                            <a  class="nav-link ">
                                <span class="d-flex ">
                                    <svg style="width: 20px !important" class="mr-2" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                    </svg>
                                    کاشێر
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path
                                                d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                                        </svg>
                                        بەرهەم
                                    </span> <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                                        </svg>
                                        کڕین
                                    </span> <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                                        </svg>
                                        فرۆشتن
                                    </span>
                                    <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        پارەدان و وەرگرتن
                                    </span> <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
                                            <path fill-rule="evenodd"
                                                d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        سندوق
                                    </span> <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">

                                        <svg style="width: 20px !important;" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                        کۆگا
                                    </span> <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex ">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M8 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                                            <path
                                                d="M3 4a1 1 0 00-1 1v10a1 1 0 001 1h1.05a2.5 2.5 0 014.9 0H10a1 1 0 001-1V5a1 1 0 00-1-1H3zM14 7a1 1 0 00-1 1v6.05A2.5 2.5 0 0115.95 16H17a1 1 0 001-1v-5a1 1 0 00-.293-.707l-2-2A1 1 0 0015 7h-1z" />
                                        </svg>
                                        مەندوبەکان
                                    </span> <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        خەرجی</span>
                                    <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex">
                                        <svg style="width: 20px !important" class="mr-2"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z" />
                                            <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
                                        </svg>
                                        بەشی ڕاپۆرت
                                    </span>
                                    <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>

                        <li  class="nav-item">
                            <a href="forms.html"  class="nav-link ">
                                <div class="d-flex justify-content-between">
                                    <span class="d-flex">
                                        <svg style="width:20px !important" class="mr-2"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor">
                                            <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
                                            <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
                                          </svg>
                                         فۆرم و دەستکاریکردن
                                    </span>
                                    <svg style="width: 20px !important;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>

                                </div>
                            </a>
                        </li>







                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center mx-auto col-lg-10 radius-20  col-12 card card-primary ">
                        <div class="d-flex justify-content-center mt-2  py-4">
                          <h3 class="card-title px-8 font-weight-bold">زیادکردنی گرێبەستی کڕین و فرۆشتن </h3>
                        </div>
                        <form>
                          <div class="card-body">
                              <div class="d-flex justify-content-center">
                                <div class="form-group col-lg-4 text-center">
                                    <label >فرۆشیار</label>
                                    <input type="text" class="form-control  rounded-lg"  placeholder=" ناوی فرۆشیار">
                                  </div>

                                  <div class="form-group col-lg-4 text-center">
                                    <label >کڕیار</label>
                                    <input type="text" class="form-control rounded-lg"  placeholder=" ناوی کڕیار">
                                  </div>
                              </div>

                              <div class="d-flex flex-wrap mt-5 mb-3 justify-content-center">
                                <div class="form-group col-lg-3 text-center">
                                    <label >نرخی فرۆشتن</label>
                                    <input type="number" class="form-control  rounded-lg"  placeholder="نرخی فرۆشتن">
                                  </div>

                                  <div class="form-group col-lg-3 text-center">
                                    <label >نرخی فرۆشتن بە نوسین</label>
                                    <input type="text" class="form-control rounded-lg"  placeholder="نرخی فرۆشتن بە نوسین">
                                  </div>
                                  <div class="form-group col-lg-3 text-center">
                                    <label >بڕی پێشەکی وەرگیراو </label>
                                    <input type="number" class="form-control rounded-lg"  placeholder="بڕی پێشەکی وەرگیراو">
                                  </div>
                                  <div class="form-group col-lg-3 text-center">
                                    <label >بڕی پارەی ماوە </label>
                                    <input type="number" class="form-control rounded-lg"  placeholder="بڕی پارەی ماوە ">
                                  </div>

                              </div>
                              <div class="d-flex justify-content-center">
                                <span class="text-center text-muted">***************************</span>

                              </div>
                         
                              <div class="d-flex flex-wrap mt-5 mb-3 justify-content-center">
                                <div class="form-group col-lg-3 text-center">
                                    <label >بڕی پارەی ماوە بە نوسینن </label>
                                    <input type="text" class="form-control  rounded-lg"  placeholder="بڕی پارەی ماوە بە نوسینن ">
                                  </div>

                                  <div class="form-group col-lg-3 text-center">
                                    <label >غەرامەی دواکەوتن </label>
                                    <input type="number" class="form-control rounded-lg"  placeholder=" غەرامەی دواکەوتن">
                                  </div>
                                  <div class="form-group col-lg-3 text-center">
                                    <label >غەرامەی پاشگەزبونەوە</label>
                                    <input type="number" class="form-control rounded-lg"  placeholder="غەرامەی پاشگەزبونەوە">
                                  </div>
                                  <div class="form-group col-lg-3 text-center">
                                    <label >بڕی پارەی ماوە </label>
                                    <input type="number" class="form-control rounded-lg"  placeholder="بڕی پارەی ماوە ">
                                  </div>

                              </div>

                              <div class="d-flex flex-wrap mt-5 mb-3 justify-content-center">
                                <div class="form-group col-lg-3 text-center">
                                    <label >ناوی پارێزەر</label>
                                    <input type="text" class="form-control  rounded-lg"  placeholder="ناوی پارێزەر ">
                                  </div>

                                  <div class="form-group col-lg-3 text-center">
                                    <label > بڕی پارەی ڕێکخەر </label>
                                    <input type="number" class="form-control rounded-lg"  placeholder="بڕی پارەی ڕێکخەر ">
                                  </div>
                                  <div class="form-group col-lg-3 text-center">
                                    <label >جۆری دراو </label>
                                    <select name="" class="form-control rounded-lg text-center"> 
                                        <option selected>جۆری دراو</option>
                                        <option value="1">دۆلار</option>
                                        <option value="1">دینار</option>

                                    </select>
                                  </div>
                               

                              </div>

                              <div class="d-flex flex-wrap mt-5 mb-3 justify-content-center">
                                <div class="form-group col-lg-6 text-center">
                                    <label >تێبینی</label>
                                    <textarea name="" id="" cols="30" class="form-control rounded" placeholder="تێبینی بەکارهێنان" rows="10"></textarea>
                                  </div>

                               
                               

                              </div>
                            
                          </div>
                          <!-- /.card-body -->
          


                          

                        
                        <div class="d-flex justify-content-center  mt-2">
                            <button type="submit" class="btn btn-success w-50 rounded-lg mb-2 mt-2 shadow-sm radius-10">تۆمارکردن زانیاری</button>

                        </div>
                        </form>
                      </div>
                    <!-- Main Footer -->
                    <footer class="d-flex justify-content-center text-muted mt-3 text-center">
                        Copyright &copy; 2021-2022 All rights reserved. Hoshmand Kamal and designed Template Dashboard
                    </footer>
                    <!-- End Main Footer --> 
                </div>
            </section>
        </div> <!--  End Main content -->
    </div>
</body>
</html>